version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: flask_payroll_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: payroll
      POSTGRES_PASSWORD: payroll
      POSTGRES_DB: payroll
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
